@font-face {
  font-family: "AmazonEmber_Bd";
  src: url(/src/assets/fonts/emberFont/AmazonEmber_Bd.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AmazonEmber_Rg";
  src: url(/src/assets/fonts/emberFont/AmazonEmber_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "AmazonEmber_RgIt";
  src: url(/src/assets/fonts/emberFont/AmazonEmber_RgIt.ttf) format("truetype");
}

#root {
  margin: 0 auto;
  padding: 0rem;
}

:root {
  --regular-font: "AmazonEmber_Rg", sans-serif, serif;
  --regularIt-font: "AmazonEmber_RgIt", sans-serif, serif;
  --bold-font: "AmazonEmber_Bd", sans-serif, serif;
}

.top-strip {
  background-color: #131921;
  color: #ffffff;
  height: 63%;
}

/* #######  left section -- top strip ######## */

.left-section-top-strip {
  max-width: 25%;
  max-height: 70% !important;
}

/* logo slice*/
.navLogo {
  max-width: 9rem;
  min-height: 2.3rem;
}

/* text slice */
.logoText {
  font-family: var(--regular-font);
  font-size: 14px;
  color: #ccc;
}

.navImg {
  width: 4.9rem !important;
  height: 1.7rem !important;
  filter: contrast(20%) brightness(100%);
  -webkit-filter: contrast(150%) saturate(250%);
}

/* location slice*/
div.locationText :nth-child(1) {
  font-size: 0.65rem;
  font-family: var(--regular-font);
  color: #ccc;
  line-height: 0.3rem;
}

div.locationText :nth-child(1) span {
  padding-right: 0.15rem;
}

div.locationText :nth-child(2) {
  font-size: 0.8rem;
  color: #fff;
  font-family: var(--regular-font);
}

/* #######  middle section -- top strip ######## */

.middle-section-top-strip {
  max-width: 58vw;
}

.middle-side-search .form-control:focus {
  border: none;
  box-shadow: none;
}

/* select menu slice */
#select-menu {
  border: 0px;
  background: transparent !important;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.left-side-search :hover {
  border: 3px solid #f90 !important;
  background: #ccc !important;
}

.select-wrapper :hover {
  border: 0px transparent !important;
  cursor: pointer !important;
}

.select-wrapper {
  background: #f3f3f3 !important;
  border-right: 1px solid #a7acb2;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  padding: 0.25rem 0.125rem;
  font-family: var(--regular-font);
  height: 85%;
  
}

.select-wrapper .fa-caret-down {
  color: #666;
  pointer-events: none !important;
  font-size: 0.55rem !important;
}

.select-wrapper .dropDown-icon {
  position: absolute;
  right: 0.5rem;
}

.select-wrapper select {
  color: #666;
  font-size: 0.61rem !important;
  font-weight: 400;
}

.select-wrapper select:hover {
  color: #0f1111 !important;
}

/* search slice*/
.middle-section-top-strip .middle-side-search input {
  font-size: 0.7rem;
  font-family: var(--regular-font);
  border-radius: 0;
  /* min-width: 10vw; */
  /* max-width: 50vw!important; */
  width: 58vw;
  height: 85%;
}

@media screen and (max-width: 992px){

 .middle-section-top-strip {
   max-width: 40vw; 
 }
 .middle-section-top-strip .middle-side-search input  {
  width: 39vw;
}
}

button.nav-search-submit-button {
  background: #febd69 !important;
  color: #0f1111;
  font-size: large;
  font-weight: 400 !important;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: none;
  height: 85%;
  padding-bottom: 8px !important;
}

/* #######  right section -- top strip ######## */

/* lang-slice */
#flag-img img {
  width: 1.2rem !important;
  height: 1.2rem !important;
  -webkit-filter: saturate(20) contrast(3) brightness(2);
  filter: saturate(20) contrast(3) brightness(2);
  margin-right: 3px;
}

.right-section-top-strip button,
.right-section-top-strip button:hover {
  color: #a7acb2;
}

.right-section-top-strip .lang-slice .lang {
  font-size: 0.7rem;
  font-weight: 600;
  color: #f3f3f3;
}

#flag-img span {
  font-size: 0.8rem;
  font-family: var(--regular-font);
  font-weight: 600;
  color: #fff;
  padding-left: 0.1rem;
}

.right-section-top-strip dropdown .btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}

.right-section-top-strip .lang-slice .dropdown .btn.dropdown-toggle {
  padding: 4px 0 2.5px 3px;
  font-size: 0.7rem;
}

.right-section-top-strip .lang-slice .dropdown-menu[data-bs-popper] {
  top: 170%;
  left: -3.1rem;
  margin-top: 0.125rem;
  display: flex;
  flex-direction: column;
  width: 13rem;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border-top-color: #fff;
}

#dropDown-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -62%;
  left: 22%;
}

.right-section-top-strip input {
  display: none;
}

.right-section-top-strip .dropdown-menu li {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem 0.2rem;
}

.right-section-top-strip .dropdown-menu .dropdown-divider {
  width: 78%;
  opacity: 0.5;
}

.right-section-top-strip .dropdown-menu label:hover {
  text-decoration: underline;
  color: #f6883e;
}

.right-section-top-strip .dropdown-menu {
  width: 13rem;
  height: 13.1rem;
}

.right-section-top-strip .dropdown-menu .check-circle {
  display: block;
  border: 1px solid #666;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: relative;
}

.right-section-top-strip .dropdown-menu .check-circle:hover:after {
  content: "";
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  display: block;
  background-color: #e87121;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.right-section-top-strip .dropdown-menu label {
  cursor: pointer;
  color: #444;
  font-family: var(--regular-font);
  font-size: 0.65rem;
  line-height: 1.5rem;
}

.right-section-top-strip .dropdown-menu a {
  font-size: 0.7rem;
}

#dropDown-img {
  width: 0.9rem;
  height: 1rem;
  -webkit-filter: brightness(1) contrast(1.5) saturate(1.5);
          filter: brightness(1) contrast(1.5) saturate(1.5);
  margin-right: 0.4rem;
}

.right-section-top-strip .dropdown-menu li:last-of-type {
  font-size: 0.68rem;
  text-transform: lowercase;
}

.right-section-top-strip .dropdown-menu li:last-of-type a {
  margin-top: 0.68rem;
}

/* sign in slice*/

.right-section-top-strip .signIn-dropDown-menu .dropdown-menu.show {
  width: 27rem !important;
  height: 16rem;
  line-height: 0.75rem;
  font-family: var(--regular-font);
  top: 115%;
  left: -260%;
}

#dropDown-arrow-signIn {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -46%;
  right: 21%;
}

.right-section-top-strip .signIn-dropDown-menu .row,
.signIn-btn:nth-last-child(1),
.signIn-btn:nth-child(1),
.sign-in-slice .row ul li:last-of-type {
  font-size: 0.7rem !important;
  text-transform: capitalize;
  color: #666;
  font-weight: 500 !important;
}

.right-section-top-strip .signIn-dropDown-menu .dropdown-menu.show .list-header,
.row .left-side span:nth-of-type(1):not(div span.text-lowercase) {
  font-size: 0.95rem !important;
  font-weight: bolder;
  font-family: var(--bold-font);
  color: #0f1111;
  cursor: default !important;
}

.right-section-top-strip .signIn-dropDown-menu .row ul {
  border-left: 2px solid #cccccc46;
}

.right-section-top-strip
  .signIn-dropDown-menu
  .dropdown-menu.show
  .signIn-btn
  .btn {
  border: 1px solid #fcd200;
  background: #ffd814;
  font-size: 0.71rem;
  font-family: var(--regular-font);
  width: 12rem;
  height: 1.7rem;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  border-radius: 8px;
  font-weight: 500;
  color: #131921 !important;
}

.right-section-top-strip
  .signIn-dropDown-menu
  .dropdown-menu.show
  .signIn-btn
  .btn:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(176, 55, 55);
          text-decoration-color: rgb(176, 55, 55);
  text-decoration-thickness: 1px;
  padding-bottom: 0.4rem;
}

.sign-in-slice .row ul li:hover:not(.list-header),
.sign-in-slice .row .left-side div:hover {
  text-decoration: underline;
  color: #f6883e;
}

.sign-in-slice .signIn-title {
  color: #ecf0f0;
  font-size: 0.61rem;
  font-family: var(--regular-font);
  font-weight: 300 !important;
}

.sign-in-slice:nth-child(2) {
  color: #f3f3f3;
  font-size: 0.7rem;
  font-family: var(--regular-font);
  font-weight: 600;
  white-space: nowrap;
}

.sign-in-slice .signIn-dropDown-menu .btn {
  padding-left: 0.3rem;
  color: #a7acb2 !important;
  font-size: 0.74rem;
}

/* orders slice  */
.orders-slice span {
  font-family: var(--bold-font);
  color: #fff;
  font-size: 0.7rem;
}

/*  cart slice  */
.cart-slice .cart-img img {
  color: #fff;
  width: 2rem;
  height: 1.75rem;
  transform: scaleX(-1);
  -webkit-filter: contrast(5);
          filter: contrast(5);
}

.cart-slice div:last-child {
  color: #fff;
  font-family: var(--bold-font);
  font-size: 0.7rem;
  margin-left: 0.1rem !important;
}

.cart-slice .cart-items {
  font-size: 0.95rem;
  color: #ed8603;
  font-family: var(--bold-font);
  bottom: 40%;
}

.navLogo:hover,
.location:hover,
.right-section-top-strip .lang-slice:hover,
.right-section-top-strip .sign-in-slice:hover,
.orders-slice:hover,
.right-section-top-strip .cart-slice:hover,
.right-section-top-strip .cart-slice:last-child:hover {
  border: 1.5px solid #f3f3f3;
  cursor: pointer;
}

/* ####################### */

/* middle section in the top strip */
