@import "./amazonEmber-fonts.css";
@import "./colors.css";


.RealProducts {
  /* max-height: 80dvh; */
  height: 100%;
  font-family: var(--regular-font);
  margin-left: 0!important;
  padding-left: 0!important;
position: relative;
}

.RealProducts .RealProducts-fir-row,
.RealProducts div.RealProducts-sec-row {
  padding: 1rem;
  /* min-width: 1400px; */
  min-width: 1454px;
  width: 100%;
  max-height: 420px;
  margin-bottom: -20px;
  display: flex;
  position: relative;
  left: -21px;
}

.RealProducts .RealProducts-fir-row .row div.col-3,
.RealProducts .RealProducts-sec-row .row div.col-3 {
  display: flex;
  height: 100%;
}
.RealProducts .RealProducts-fir-row .row div.col-3 > .card,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card {
  padding-block: 16px 22px;
  padding-inline:  16px 12px;
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card > *,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card > * {
  margin-inline: auto;
  width: 95%;
  height: 80%;
  /* background: lightblue; */
  
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  img,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  img {
  height: 43%;
  width: 60%;
  object-fit: contain;
  margin-bottom: 5px;

}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body ,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body  {
	margin-left: 0;
  /* background: lightcoral; */
  display: flex;
  flex-direction: column;
  max-height: 195px;
  height: 100%;
  justify-content: flex-start;
padding: 0.5rem 0;
position: relative;
}


.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body > h6.card-title,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body > h6.card-title {
	font-family: var(--bold-font);
	text-align: left;
	font-size: 0.95rem;
	margin-bottom: 6px;
  white-space: nowrap;
  /* border: 1px solid black; */
  
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body > p:first-of-type,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body > p:first-of-type{
	line-height: 25px;
  font-size: 0.7rem;
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body > p:nth-child(3) ,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body > p:nth-child(3) {
margin: 0!important;
padding: 0;
}



.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body > p.card-text > span,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body > p.card-text > span {
	font-size: 0.83rem;
	color: var(--black-text-60);
	text-transform: capitalize;
}
.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body > p.card-text > span,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body > p.card-text > span{
color: var(--black-text-100);
  display: block;
  height: 80px;
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  > .card-body > p.card-text,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  > .card-body > p.card-text {
margin-bottom: 0;
}


.RealProducts .RealProducts-fir-row .row div.col-3 >  .card  > .card-body > div.price > span:first-child,
.RealProducts .RealProducts-sec-row .row div.col-3 >  .card  > .card-body > div.price > span:first-child{
font-size: 0.4rem;
vertical-align: super;
margin-right: -7px;
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  > .card-body > div.price,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  > .card-body > div.price{
margin: 0!important;
padding: 0!important;
font-size: 1.55rem;
vertical-align:bottom;
/* border: 1px solid black; */
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  > .card-body  div.price > span:nth-child(2),
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  > .card-body  div.price > span:nth-child(2){
  font-size: 0.9rem;
  vertical-align: super;
  margin-left: -5px;
  color: var(--black-text-100);
}
.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body  div.price > a,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body div.price > a  {
	font-size: 0.5rem;
  width: 35.4%;
  margin: 0;
  padding: 0;
position: absolute;
bottom: 3px;
right: -12px;
background: var(--links-2);
color: var(--white-text-90);
font-family: var(--bold-font);
word-spacing: -2px;
border-radius: 15px;
line-height: 28px;
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body  div.price > a:hover,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body div.price > a:hover  {
  text-decoration: none;
 background: hsl(189.4, 95.1%, 31.8%);
 color: var(--white-100);
}

.RealProducts .RealProducts-fir-row .row div.col-3 > .card  >.card-body div.price  > a::first-letter,
.RealProducts .RealProducts-sec-row .row div.col-3 > .card  >.card-body div.price > a::first-letter {

text-transform: capitalize;
}